@{
    ViewData["Title"] = "Contact";
}

<!-- BODY -->
<!-- BOOTSTRAP -->
<!-- SECTION 5 -->
<link rel="stylesheet" href="~/css/contactstyle.css" />
<section id="section5" class="section5">
    <div data-aos="zoom-in-down" class="cmid_container">
        <h1 class="cttext">
            Contact us
        </h1>
        <div class="row">
            <div class="col">
                <img class="ownerpic" src="~/img/loggo.jpg" alt="dog image">
                <p class="ownertext">Website owner</p>
            </div>
            <div class="col">
                <div class="contacttext">
                    <p>Feel free to contact us if you have any questions. Please use the information below:</p>
                    <ul>
                        <li><a href="mailto: testemail123@ktu.edu">testemail123@ktu.edu</a></li>
                        <li>+37012345678</li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</section>


<!-- SECTION 6 -->
<section id="section6" class="section6">
    <p></p>
    <div id="time" class="timedate"></div>
    <div id="date" class="timedate"></div>
</section>